body, h1, p {
    margin: 0;
    padding: 0;
}
span {
    padding-left: 20px;
    color: blanchedalmond;
}

header {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: black;    
}

nav, ul{
    margin-left: 350px;
}

nav, ul, li {
    display: inline;
    padding-left: 50px;
}

main {
    text-align: center;
}

main, div {
    margin: 5px;
}

footer{
    display: flex;
    align-items: center;
    height: 40px;
    background-color: silver;
}
