body, h1, p {
    margin: 0;
    padding: 0;
}
header {
    display: inline;
    width: 100%;
    
}
header, h1{
    text-align: center;
    color: white;
    background-color: blue;
}
main {
    text-align: center;
    margin: 100px;
}
img {
    width: 700px;
    margin: 30px;
}
nav, ul{
    margin-left: 350px;
}
nav, ul, li {
    display: inline;
    padding-left: 50px;
}
footer {
    height: 80px;
    background-color: silver;
}
